/* Общие стили для body */
body {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    text-align: center;
}

/* Стили для заголовка h1 */
h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

/* Стили для изображения */
img {
    width: 150px; /* Установим ширину изображения */
    height: auto; /* Сохраняем пропорции */
    border-radius: 10px; /* Закруглённые углы */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
